header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 243, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 5px 20px rgba(0, 243, 255, 0.1);
}

header h1,
header h2 {
  font-family: "Orbitron", sans-serif;
  color: var(--hologram-blue);
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 0;
  font-size: 1.2rem;
  text-shadow: 0 0 10px var(--hologram-blue);
}
